$color-white: #ffffff;
$color-darkened: #565f7a;
$color-orange: #fb7802;
$color-light-darkened: #bebfc4;
$color-light-blue: #5a81fd;
$color-light-green: #4fcdac;
$text-black: #000000;


$base-blue:  #002349;
$base-blue-opacity: rgba(0, 35, 73, 0.4);
$base-gold:  #C29B40;
$text-black-color: #1f1f1f;
$text-black-color-opacity: rgba(31, 31, 31, 0.4);

$color-dark-silver: #5C5C5C;

$color-grey: #3D3D3D;
$color-dark: #161414;

$desc-lh-mob: 27;
$desc-lh-desktop: 20;
$pagination-item-mob: 34;
$pagination-item-tab: 64;
