@import '../variables.scss';
.mainWrapper{
  .navMenu {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 75px;
    z-index: 1000;
    background-color: #1c212e;
    outline: 2px solid green;
    .navList {
      list-style: none;
      display: flex;
      align-items: center;
      outline: 2px solid pink;
      margin: 10px 5%;
      padding: 0;
      .navItem {
        &:last-child {
          margin-left: auto;
        }
        &:not(:first-child):not(:last-child) {
         display: none;
        }

        .burgerMenuButton {
          background-color: transparent;
          border: none;
        }
      }
    }
    //.navList {
    //
    //  margin: 10px 2%;
    //  padding: 0;
    //  list-style: none;
    //  display: flex;
    //  align-items: center;
    //  .navItem {
    //
    //    &:nth-child(2) {
    //      margin-left: 15%;
    //    }
    //    .navLink {
    //      display: block;
    //      text-decoration: none;
    //      color: $color-white;
    //      border: 2px dashed transparent;
    //      padding: 5px 25px;
    //      border-radius: 10px;
    //      cursor: pointer;
    //      &:hover {
    //        color: $color-darkened;
    //        border: 2px dashed $color-light-blue;
    //      }
    //      &.currentLink {
    //        color: $color-light-darkened;
    //      }
    //    }
    //
    //    &:last-child {
    //      margin-left: auto;
    //      .navLink {
    //        background-color: $color-light-blue;
    //        color: $color-white!important;
    //        padding: 5px 25px;
    //        &:hover {
    //          color: $color-darkened!important;
    //          border: 2px dashed $color-light-blue;
    //        }
    //        &.currentLink {
    //          color: $color-light-darkened;
    //        }
    //      }
    //    }
    //  }
    //}
  }
}
